html {
  font: 112.5%/1.45em Roboto, serif, sans-serif;

}

.App-header {
  padding: 20px;
  text-align: center;
  background-color: #222;
  color: white;
}

.App-title {
  font-size: 1.5rem;
}

.App-container {
  max-width: 48rem;
  margin: 0 auto;
  padding: .5rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  background: grey;
  margin: 0 auto;
  text-align: center;
}

#inputFile {
  cursor: pointer; /* "hand" cursor */
  display: none;
}

button {
}

#labelFile {
  cursor: pointer;
}

/*#inputFile {*/
/*  background: red;*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  color: #fff;*/
/*  cursor: pointer;*/
/*  display: inline-block;*/
/*  font-family: 'Rubik', sans-serif;*/
/*  font-size: inherit;*/
/*  font-weight: 500;*/
/*  margin-bottom: 1rem;*/
/*  outline: none;*/
/*  padding: 1rem 50px;*/
/*  position: relative;*/
/*  transition: all 0.3s;*/
/*  vertical-align: middle;*/
/*}*/


.info-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: grey;
  margin: 0 auto;
  font-size: 24px;
}
body {
  background: grey;
}
h1 {
  margin: 1vh auto;
}

h2 {
  margin: 1vh auto;

}

input {
  margin: 0 auto;
  display: flex;
  gap: 5px;
  background: grey;
  border-radius: 7px;
}

*::placeholder {
  /* modern browser */
  color: rgba(7,7,7,0.5);
}


body::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: rgb(7,7,7);        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: gray;    /* цвет плашки */
  border-radius: 10px;       /* закругления плашки */
  /*border: 1px solid whitesmoke;  !* padding вокруг плашки *!*/
}


table {
  margin: 0 auto;
  /*border-collapse: collapse;*/
  /*width:100%;*/
  background: grey;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 8px;
  font-size: 32px;
  background: grey;

}

th {
  background-color: rgb(250, 155, 155);
}

td {
  /*background-color: rgb(255, 255, 255);*/
  background: grey;

}

form {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  background: grey;

}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 24px;
  border-radius: 7px;
}


